<configuration>
    <config>
        <add key="globalPackagesFolder" value="pkg/cache" />
    </config>

    <fallbackPackageFolders>
        <clear />
    </fallbackPackageFolders>

    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="niru" value="pkg/feed" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="niru">
            <package pattern="niru" />
            <package pattern="Vezel.Niru.*" />
        </packageSource>
    </packageSourceMapping>

    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>
